::-webkit-scrollbar {
    display: none !important;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    backdrop-filter: blur(100px);
}
.forAnimation{
    transition: all .4s ease-in-out;
}

.lighttheme {
    --background-color: rgba(255, 255, 255, .5);
    --background-image: linear-gradient(rgb(132, 178, 176),rgb(60, 87, 89),rgb(26, 63, 87),rgb(9, 17, 23));
    transition: all .1s ease-in-out;
    --white-color: #000;
    --box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    --hover__bg: rgba(0, 0, 0, 1);
    --whiteColor: #fff;
}

.darktheme {
    --background-color: rgba(0, 0, 0, .5) !important;
    --background-image:linear-gradient( rgb(255, 119, 34), rgb(109, 54, 0),rgb(88, 40, 1),rgb(56, 22, 9), rgb(8, 5, 6));
    transition: all .1s ease-in-out;
    --white-color: #fff;
    --box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    --hover__bg: rgba(255, 255, 255, 1);
    --blackColor: #000;
}

button {
    min-width: auto !important;
}

button.toogletheme {
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--background-color);
    padding: 9px;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    transition: all .4s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

button.toogletheme:hover {
    color: var(--whiteColor);
    background-color: var(--hover__bg);
}

button.menuBars {
    color: var(--white-color);
    font-size: 20px;
}

.OverFlowAcrive #root {
    overflow: hidden;
}

.OverFlowAcrive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 100;
    transition: all 1s ease-in-out;
}

body {
    /* background-color: #000000ce !important; */
    font-family: "Montserrat", sans-serif;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    backdrop-filter: blur(20px);
}

@media only screen and (max-width: 767px) {
    .bodyinner {
        flex-direction: column-reverse;
        gap: 10px;
    }
}

ul {
    margin: 0 !important;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

/* moileNav */
.moileNav {
    position: fixed;
    max-width: 320px;
    width:100%;
    height: 100%;
    background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 36px 0;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
}

.moileNav.active {
    transform: translateX(0);
}

.headermian {
    margin: 45px 0 28px 0;
    background: var(--background-color);
    backdrop-filter: blur(10px);
    padding: 15px 10px;
    box-shadow: var(--box-shadow);
}
.moileNav ul{
    padding: 0;
    width: 100%;
    margin-top: 20px !important;
    gap: 1px;
}
.moileNav ul li a{
    display: block;
    padding: 8px !important;
}
.moileNav a h1,
.headermian .logo .logotext {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--white-color);
    margin: 0;
}

.headermian nav {
    gap: 10px;
}

.headermian nav ul {
    gap: 10px;
}
.moileNav ul li a,
.headermian nav ul li a {
    padding: 10px 15px;
    background-color: var(--background-color);
    color: var(--white-color);
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
}

.moileNav ul li a.active,
.headermian nav ul li a.active {
    color: var(--whiteColor);
    background-color: var(--hover__bg);
}

.moileNav ul li a:hover,
.headermian nav ul li a:hover {
    color: var(--whiteColor);
    background-color: var(--hover__bg);

}

@media only screen and (max-width: 767px) {
    .headermian {
        margin: 20px auto;
    }
}
.mainSideBar{
    position: sticky;
    top: 10px;
}
.mianPagesSec{
    overflow: hidden;
}
.mianPagesSec,
.mainSideBar {
    background-color: var(--background-color);
    padding: 15px;
    box-shadow: var(--box-shadow);
}


.mainSideBar .sideBarOuter .sidebarImage {
    /* width: 100v; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainSideBar .sideBarOuter .sidebarImage .sbimg {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSideBar img {
    width: 100%;
}

.mainSideBar .sideBarOuter .nameclassses h1 {
    color: var(--white-color);
    font-size: 26px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 3px 0;
}

.mainSideBar .sideBarOuter .nameclassses {
    margin-top: 15px;
    user-select: none;
}

.mainSideBar .sideBarOuter .nameclassses h3 {
    color: var(--white-color);
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
}

.mainSideBar .sideBarOuter .sb-Contacts {
    margin-top: 15px;
    background: var(--background-color);
    padding: 25px 15px;
    gap: 10px;
    box-shadow: var(--box-shadow);
}

.mainSideBar .sideBarOuter .sb-Contacts .sbContainer {
    gap: 10px;
    user-select: none;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #92929225;
    padding-bottom: 10px;
}

.mainSideBar .sideBarOuter .sb-Contacts .contact_content {
    gap: 2px;
}

.mainSideBar .sideBarOuter .sb-Contacts .contact_content h4,
.mainSideBar .sideBarOuter .sb-Contacts .contact_content h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--white-color);
    text-align: left;
}

.mainSideBar .sideBarOuter .sb-Contacts .contact_content h4 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.mainSideBar .sideBarOuter .sb-Contacts .contact_content h1 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.mainSideBar .sideBarOuter .sb-Contacts .contactIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    padding: 6px;
    font-size: 25px;
    box-shadow: 0 0 4px 1px rgba(199, 199, 199, 0.459);
    color: #ff00ff;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.mainSideBar .sideBarOuter .sb-Contacts .sbContainer:hover .contactIcon {
    color: #fff;
    background: #ff00ff;
}

.mainSideBar .sideBarOuter .sb_icons_main ul {
    gap: 10px;
}

.mainSideBar .sideBarOuter .sb_icons_main ul li button {
    background: var(--background-color);
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 4px 1px rgba(46, 46, 46, 0.205);
    transition: all .2s ease-in-out;
    border-radius: 0;
}

.mainSideBar .sideBarOuter .sb_icons_main ul li button:hover {
    color: #fff;
    background-color: #2e82ff;
    scale: .9;
}

.mainSideBar .sideBarOuter .sb_icons_main ul li button.instagram {
    color: #ff00ff;
    font-size: 25px;
    padding: 8px;

}

.mainSideBar .sideBarOuter .sb_icons_main ul li button.instagram:hover {
    color: #fff;
    background: #d62976;
}

.mainSideBar .sideBarOuter .sb_icons_main ul li button.twitter {
    color: #000;
}

.mainSideBar .sideBarOuter .sb_icons_main ul li button.twitter:hover {
    color: #fff;
    background-color: #000;
}

.mainSideBar .sideBarOuter .mobilebtn {
    display: none;
}


@media only screen and (max-width: 767px) {
    .mainSideBar img {
        width: 100%;
    }

    .mainSideBar .sideBarOuter .formobile {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    .mainSideBar .sideBarOuter .sidebarImage .sbimg {
        flex: 0 0 25%;
    }

    .mainSideBar .sideBarOuter .nameclassses {
        flex: 0 0 75%;
    }

    .mainSideBar .sideBarOuter .mobilebtn {
        width: 100%;
        display: block;

    }

    .mainSideBar .sideBarOuter .mobilebtn button {
        width: 100%;
        background-color: #2e82ff;
        color: #fff;
        padding: 8px;
        border-radius: 0;
        font-size: 17px;
        font-weight: 700;
        font-size: 14px;
    }

    .mainSideBar .sideBarOuter .nameclassses h3 {
        font-size: 14px;
        text-align: left;
    }

    .mainSideBar .sideBarOuter .nameclassses h1 {
        text-align: left;
        font-size: 22px;
    }
}



/* footer */
.footer {
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.footer span .strong {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    opacity: 1;
    padding: 4px;
    border-radius: 0;
    text-transform: capitalize;

}

.footer span .strong a {
    color: #fff;
}

.footer span .strong:hover {
    opacity: .8;
    padding: 4px;
}


/* main_heading */
.main_heading h1 {
    font-size: 48px;
    text-align: left;
    text-transform: capitalize;
    color: var(--white-color);
    font-weight: 700;
    position: relative;
    margin: 0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.main_heading h1::after {
    position: absolute;
    content: '';
    display: block;
    background-color: var(--white-color);
    width: 100%;
    height: 1px;
    top: 58%;
    left: 108%;
    transform: translateY(-50%);

}

/* aboutsec */
.aboutsec {
    padding: 45px 0 12px 0;
    overflow: hidden;
}

.aboutsec p {
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
    margin-top: 20px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
}

.aboutsec p:last-child {
    margin-top: 5px;
}

/* .aboutsec .inner_section {
    margin-top: 30px;
} */

.aboutsec .aboutSlider {
    margin-top: 30px;
    padding: 30px 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.aboutsec .aboutSlider h3,
.aboutsec .inner_section h3 {
    font-size: 22px;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 500;
    position: relative;
    margin: 0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.aboutsec .inner_section .content {
    row-gap: 25px !important;
    /* column-gap: 15px !important; */
}

.aboutsec .inner_section .content .aboutCntnt {
    gap: 15px;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

/* .aboutsec .inner_section .content .col-lg-6{
} */
.aboutsec .inner_section .content h1 {
    font-size: 22px;
    text-align: left;
    text-transform: capitalize;
    color: var(--white-color);
    font-weight: 700;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.aboutsec .inner_section .content p {
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
    margin-top: 10px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
}



@media only screen and (max-width:767px) {
    .mianPagesSec {
        padding: 0;
    }

    .aboutsec {
        padding: 15px;
    }

    .main_heading h1 {
        font-size: 36px;
    }

    .aboutsec p {
        font-size: 14px;
        margin-top: 15px;
        line-height: 25px;
    }

    .aboutsec p:last-child {
        margin: 0;
    }

    .aboutsec .inner_section .content h1,
    .aboutsec .aboutSlider h3,
    .aboutsec .inner_section h3 {
        font-size: 18px;
    }

    .aboutsec .inner_section .content .aboutCntnt {
        flex-direction: column;
    }
}

@media only screen and (max-width: 575px) {
    .main_heading h1 {
        font-size: 26px;
    }
}

.sldierMain {
    padding-top: 45px;
}

.sldierMain img {
    width: 80%;
    height: 62px;
    object-fit: contain;
}

.swiper-wrapper {
    align-items: center;
}

@media only screen and (max-width: 575px) {
    .aboutsec .aboutSlider{
        margin-top: 25px;
        padding: 20px 0;
    }
    .sldierMain{
        padding-top: 30px;
    }
}


/* innerContact */

.innerContact{
    margin-top: 20px;
}
.innerContact p{
    margin-bottom: 5px;
}
.innerContact h3{
    font-size: 26px !important;
    font-weight: bold !important;
}
.innerContact form{
    margin-top: 30px;
    background-color: var(--background-color);
    padding: 45px 20px;
    box-shadow: var(--box-shadow);
}
.innerContact form .forgap{
    gap: 30px;
}
.innerContact form  .innergap{
    gap: 5px;
}
.innerContact form label{
    color: var(--white-color);
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.innerContact form textarea,
.innerContact form input{
    outline: none;
    padding: 5px 10px;
    border: none;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.innerContact form .email{
    margin-top: 20px;
}
.innerContact form textarea{
    resize: none;
}




/* leftposts */

/* .postsMain .postCard{
    gap: 15px;
}
.postsMain .postcoloumn{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
}
.postsMain .leftposts{
    gap: 5px;
}
.postsMain .leftposts img{
    width: 100px;
    border: 3px solid #fff;
}

.postsMain .leftposts .dateclass{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.postsMain .leftposts .aurtherName{
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    
}
.postsMain .postCard .postdetails .title{
    font-size: 26px;
    font-weight: 700;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
}
.postsMain .postCard .postdetails .detailsclass{
    font-size: 13px;
    line-height: 1.3;
    margin: 10px 0;
}
.postsMain .postCard .postdetails .toogletheme{
    font-size: 10px;
    padding: 5px 10px;
    text-transform: normal;
} */


/* blogMian page */
.postsMain .blogInner{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin-bottom: 20px;
}
.postsMain .blogInner .d-flex{
    gap: 10px;
}
.postsMain .blogInner .mbloleft{
    flex: 0 0 15%;
}
.postsMain .blogInner .mbloleft img{
    width: 100%;
}
.postsMain .blogInner .mbloleft .postdate{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.postsMain .blogInner .mblorihgt .writeName{
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.postsMain .blogInner .mblorihgt .writeName i{
    font-size: 18px;
    font-weight: 200;
    color: var(--white-color);
}
.postsMain .blogInner .mblorihgt .title{
    font-size: 22px;
    font-weight: 700;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    text-decoration: underline !important;
}
.postsMain .blogInner .mblorihgt .postdetails{
    font-size: 13px;
    line-height: 1.6;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
}
.postsMain .blogInner .mblorihgt .toogletheme{
    font-size: 14px;
    padding: 8px 20px;
    margin-top: 5px;
    font-weight: 400;
}

.page404{
    height: 100%;
    position: relative;
}
.page404 .page4004img{
    height: 100%;
    height: 100%;
    opacity: .2;
}
.page404 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
}
.page404 .page404cntnt{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.page404 .page404cntnt span{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--white-color);
    font-size: 48px;
    text-align: center;
}
.page404 .page404cntnt h1{
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: var(--white-color);
    font-weight: 700;
    position: relative;
    margin: 0;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}
.page404 .page404cntnt .toogletheme{
    font-size: 14px;
    padding: 12px 20px;
}

@media only screen and (max-width: 1024px){
    .page404 {
        min-height: 50vh;
        padding: 45px 0;
    }
    .page404 .page404cntnt h1{
        font-size: 36px;
    }
}
@media only screen and (max-width: 767px){
    .page404 .page404cntnt h1{
        font-size: 26px;
    }
    .page404 .page404cntnt .toogletheme{
        font-size: 10px;
    }
}


/* BlogDetails */

.BlogDetails .BDRName{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--white-color);
    font-size: 18px;
    text-align: center;
}
.BlogDetails .BDRName b{
    text-decoration: underline;
    font-weight: 500;
    color: #00ff15;
}
.BlogDetails .BDRName i{
    font-size: 14px;
    font-weight: 200;
}
.BlogDetails .BDtitle{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white-color);
    font-weight: 700;
    position: relative;
    margin: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}
.BlogDetails .BDPara{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: var(--white-color);
    font-weight: 300;
    text-transform: capitalize;
    /* margin-bottom: 5px; */
    line-height: 24px;
}
.BlogDetails .autherDetails{
    margin-top: 45px;
}
.BlogDetails .autherDetails img{
    width: 100%;
}
.BlogDetails .autherDetails h1{
    font-size: 9px;
    margin: 0 0 10px 0;
    font-family: "Montserrat", sans-serif;
}


/* works */

.worksmain .aboutCntnt{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}
.worksmain .worksLink{
    background-color: transparent;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: "Montserrat", sans-serif;
}
.worksmain  span{
    font-size: 12px;
    text-transform: lowercase;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;

}
.worksmain p{
    font-size: 14px ;
    line-height: 1.6;
    margin: 5px 0 10px 0;
    font-family: "Montserrat", sans-serif;
}
.worksmain button{
    font-size: 14px;
    padding: 7px 20px;
    font-family: "Montserrat", sans-serif;
}

@media all and (max-width: 767px){
    .worksmain .row{
        gap: 20px;
    }
    .worksmain p{
        font-size: 13px;
    }
}